:root {
  --error-color: #ea686d;
  --success-color: #4ebc82;
  --light-color: #ffffff;
  --background-color: #f1f3f4;
  --background-linear: linear-gradient(180deg, #eff4fa 0%, rgba(239, 244, 250, 0) 102.84%);
  --primary-color: #233674;
}
